:root {
  --color1: rgb(55, 207, 245);
  --color2: rgb(253, 69, 37);
  --color3:rgba(90, 224, 49, 0.966);
  --color4: rgba(148, 56, 148, 0.87);
  --color5: rgb(255, 255, 41);
  --color6:rgb(245, 179, 58);
  --color7:rgb(51, 94, 151);
  --color8: rgb(207, 109, 191);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, main {
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

i {
  padding: 9px;
}

button {
  border: none;
  border-radius: 8px;
  width: 90px;
  height: 30px;
}

button:hover {
  cursor: pointer;
}

#quote-box {
  width:40%;
  height: 45%;
  margin: auto auto;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 50% 30% 20%;
}

#text {
  width: 90%;
  height: auto;
  border: solid 1px purple;
  text-align: center;
  margin: 5px auto 3px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#author {
  width: 90%;
  height: 80%;
  border: solid 1px orange;
  margin: 5px auto 3px auto;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  font-style: italic;
}

#wordy-words {
  margin-right: 20px;
  font-size: 1.2rem;
}

#socials {
  width: 35px;
  height: 35px;
  border-radius: 8px;
}

#my-name {
  margin-top: 60px;
  height:20%;
  width: 100%;
  text-align: center;
}

.fa-twitter {
  text-align: center;
  vertical-align: center;
}

.white-words {
  color: white;
}

.space {
  background-color: white;
}

.wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  border: solid 1px green;
}

.background-change {
  background-color: black;
}

.color-change {
  color: black;
}